coffee/chatbot.json
[{"id":"afc75dca161e2c65","type":"tab","label":"chatbot design","disabled":false,"info":"","env":[]},{"id":"9a8ed403e70ef707","type":"onEvent","z":"afc75dca161e2c65","event":"message","name":"onEvent","x":280,"y":120,"wires":[["7be2f78f10536b36","7d2cfb11a5044460"]]},{"id":"fba32d0116d6378b","type":"retEvent","z":"afc75dca161e2c65","name":"retEvent","ErrCode":0,"ErrMsg":"OK","x":760,"y":120,"wires":[]},{"id":"7be2f78f10536b36","type":"function","z":"afc75dca161e2c65","name":"","func":"msg.payload = {\n    ErrCode: 0,\n    ErrMsg: \"OK\",\n    Data: msg.data.text\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":120,"wires":[["fba32d0116d6378b"]]},{"id":"7d2cfb11a5044460","type":"debug","z":"afc75dca161e2c65","name":"receive msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":60,"wires":[]},{"id":"e5ff91f8b99d99c1","type":"inject","z":"afc75dca161e2c65","name":"reg","props":[{"p":"timestamp","v":"","vt":"date"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":290,"y":180,"wires":[["9cfae8c31354865b"]]},{"id":"9cfae8c31354865b","type":"function","z":"afc75dca161e2c65","name":"reg","func":"let motedata = {\n    group: \"bot\",\n    key: \"Eugene\",\n    ddn: \"\",\n    uid: \"\",\n    name: \"\",\n    type: \"\",\n    tag: \"\",\n    value: {},\n    geo: \"\",\n    expire: 3600000\n}\nmsg.payload = motedata\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":180,"wires":[["dc6d0cacb9017227","2d0ef8a01038a28e"]]},{"id":"dc6d0cacb9017227","type":"send","z":"afc75dca161e2c65","DDN":">rc/motec","DDNType":"str","topic":"rc://reg","topicType":"str","name":"rc://reg","x":760,"y":180,"wires":[["2d0ef8a01038a28e"],[]]},{"id":"2d0ef8a01038a28e","type":"debug","z":"afc75dca161e2c65","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":240,"wires":[]},{"id":"5708fc115bacb640","type":"comment","z":"afc75dca161e2c65","name":"Set your bot name \"Click me to see how to set it up\"","info":"Click \"reg\" function\n\n@@owen -> digibot\nThis means your name must be \"xxxbot\"\n\nSet your bot name\n\nkey: \"your-bot-name\"\n\nExample:\n\nkey: \"digi\"","x":410,"y":240,"wires":[]}]