coffee/formbot-coffe.flow
[{"id":"500b6def3e837564","type":"tab","label":"formbot-coffee","disabled":false,"info":""},{"id":"0ef7d1bce1162232","type":"onEvent","z":"500b6def3e837564","event":"message","name":"onEvent","x":220,"y":160,"wires":[["3befebd873b9ccf8","7be2f78f10536b36","0b33d0a7c2da4aa7","3dcd36bc0e97a3a8"]]},{"id":"3befebd873b9ccf8","type":"debug","z":"500b6def3e837564","name":"receive msg","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":410,"y":120,"wires":[]},{"id":"6e07e7c39154f2ed","type":"debug","z":"500b6def3e837564","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":760,"y":260,"wires":[]},{"id":"fba32d0116d6378b","type":"retEvent","z":"500b6def3e837564","name":"retEvent","ErrCode":0,"ErrMsg":"OK","x":580,"y":180,"wires":[]},{"id":"7be2f78f10536b36","type":"function","z":"500b6def3e837564","name":"","func":"\n msg.payload = {\n ErrCode: 0,\n ErrMsg: \"OK\"\n }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":180,"wires":[["fba32d0116d6378b"]]},{"id":"0b33d0a7c2da4aa7","type":"function","z":"500b6def3e837564","name":"to tg","func":"d = msg.data.content.data;\nmsg.topic = \"tg://\"+d.qTgId;\nmsg.payload = {\n    \"type\":\"message\",\n    \"content\":d\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":240,"wires":[["bd2298bcb329d1de"]]},{"id":"bd2298bcb329d1de","type":"send","z":"500b6def3e837564","DDN":">hub/comm","DDNType":"str","topic":"topic","topicType":"msg","name":"send","x":580,"y":240,"wires":[["6e07e7c39154f2ed"],["6e07e7c39154f2ed"]]},{"id":"3dcd36bc0e97a3a8","type":"function","z":"500b6def3e837564","name":"to email","func":"d = msg.data.content.data;\nmsg.topic = \"mail://\"+d.uEmail+\";\"+d.qBcc;\nmsg.payload = {\n \"type\":\"message\",\n \"content\":\"您好，感謝您答覆 YPCloud 面試邀約，我們將盡快與您聯繫確認面試時間。您提供的資訊如下: \"+\"\\n\"+\"\\n\"+\n \"姓名 : \"+d.uName+\"\\n\"+\n \"郵件 : \"+d.uEmail+\"\\n\"+\n \"面試時間 : \"+d.uTime+\"\\n\"+\n \"履歷 : \"+\"已成功上傳\"+\"\\n\"+\n \"留言 : \"+d.uNote+\"\\n\"+\"\\n\"+\n \n \"若有任何問題，請聯繫 hr@ypcloud.com 或撥打 02-77283060 。\"+\"\\n\"+\n \"期待大家有緣一起為雲端產業共同努力\"+\"\\n\"+\"\\n\"+\n \"本郵件是由表單服務機器人(FormBot)自動回覆\"+\"\\n\"+\"\\n\"+\n \"YPCloud\",\n \"subject\":d.qFormName+\"-\"+d.uName,\n \"from\":\"pinponboy\"\n \n \n \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":280,"wires":[["c1b14e6a7008685f"]]},{"id":"c1b14e6a7008685f","type":"send","z":"500b6def3e837564","DDN":">hub/comm","DDNType":"str","topic":"topic","topicType":"msg","name":"send","x":580,"y":280,"wires":[["6e07e7c39154f2ed"],["6e07e7c39154f2ed"]]},{"id":"1a423ce826b4fc00","type":"inject","z":"500b6def3e837564","name":"reg","props":[{"p":"timestamp","v":"","vt":"date"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":290,"y":420,"wires":[["48848f70910e6278"]]},{"id":"48848f70910e6278","type":"function","z":"500b6def3e837564","name":"reg","func":"let motedata = {\n    group: \"bot\",\n    key: \"xxx\",\n    ddn: \">q11/qbix/qx-xx-app\",\n    uid: \"\",\n    name: \"\",\n    type: \"\",\n    tag: \"\",\n    value: {},\n    geo: \"\",\n    expire: 3600000\n}\nmsg.payload = motedata\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":420,"wires":[["a5a38c05fe1ccfb2","e59e819d3c1da825"]]},{"id":"a5a38c05fe1ccfb2","type":"send","z":"500b6def3e837564","DDN":">rc/motec","DDNType":"str","topic":"rc://reg","topicType":"str","name":"rc://reg","x":550,"y":420,"wires":[["e59e819d3c1da825"],[]]},{"id":"e59e819d3c1da825","type":"debug","z":"500b6def3e837564","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":480,"wires":[]},{"id":"6609bf32fb965909","type":"comment","z":"500b6def3e837564","name":"\"Click me to see how to set it up\"","info":"Click \"reg\" function\n\nFor bot name\n\n@@digi -> digibot\nThis means your name must be \"xxxbot\"\n\nSet your bot name\n\nkey: \"your-bot-name\"\n\nExample:\n\nkey: \"digi\"\n\n\nFor ddn\nplease qrun it first and find your ddn and paste it(ex:>xx/xx/xx-formbot-app","x":370,"y":360,"wires":[]}]
