coffee/twin.json
[{"id":"11dcc1f75b97e9e8","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"ffcc76128031afeb","type":"inject","z":"11dcc1f75b97e9e8","name":"initials","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.2","topic":"","payload":"","payloadType":"date","x":210,"y":160,"wires":[["6cb303865c4c241e"]]},{"id":"9ced3f8b1a80d08a","type":"inject","z":"11dcc1f75b97e9e8","name":"09:00","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 09 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":220,"wires":[["02f1dfbefc8b771f"]]},{"id":"43abe59719f6e067","type":"inject","z":"11dcc1f75b97e9e8","name":"12:00","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":280,"wires":[["02f1dfbefc8b771f"]]},{"id":"97c490baebbef3b5","type":"inject","z":"11dcc1f75b97e9e8","name":"18:00","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 18 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":340,"wires":[["02f1dfbefc8b771f"]]},{"id":"f7fee089a74d21cc","type":"inject","z":"11dcc1f75b97e9e8","name":"00:00","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":400,"wires":[["02f1dfbefc8b771f"]]},{"id":"6cb303865c4c241e","type":"payload","z":"11dcc1f75b97e9e8","name":"","payload":"{\"type\": \"message\", \"content\": \"Digitor initial clocking\", \"bot\": \"pinponboy\" }","payloadType":"json","x":440,"y":160,"wires":[["4f1667aa2ddc1bb7"]]},{"id":"02f1dfbefc8b771f","type":"payload","z":"11dcc1f75b97e9e8","name":"","payload":"{\"type\": \"message\", \"content\": \"Digitor clocking\", \"bot\": \"pinponboy\" }","payloadType":"json","x":440,"y":220,"wires":[["4f1667aa2ddc1bb7"]]},{"id":"4f1667aa2ddc1bb7","type":"send","z":"11dcc1f75b97e9e8","DDN":">hub/comm","DDNType":"str","topic":"ioc://-1001840835713","topicType":"str","name":"send","x":670,"y":160,"wires":[["4cbdf2a9655ac86b"],["4cbdf2a9655ac86b"]]},{"id":"4cbdf2a9655ac86b","type":"debug","z":"11dcc1f75b97e9e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":160,"wires":[]}]